/* #region communs*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

:root {

    --gb-primary-light: #f6f5f3;
    --gb-primary-lighter: #ffffff;
    --gb-primary-dark: #7c69a4;
    --gb-primary-darker: #4e3969;
    --gb-primary-color: #ff9614;
    --bg-seconday-dark: #c3bdb6;
}

.debug {

    .container {
        min-height: 100%;
    }

    .row {
        min-height: 100%;
    }

    [class*="col"] {
        min-height: 100%;
    }

    header {
        background-color: var(--gb-primary-darker);
    }

    body {
        background-color: var(--gb-primary-dark);
    }

    .page-title {
        background-color: var(--gb-primary-color);
    }

    .recipe-preview {
        background-color: var(--bg-seconday-dark);
        min-height: 150px;
    }

    .video {
        background-color: var(--gb-primary-color);
        min-height: 100px;
    }

    .recipe-description {
        background-color: var(--gb-primary-lighter);
        min-height: 100px;
    }
}

body {
    background-color: var(--gb-primary-light);

    img {
        width: 100%;
    }
}

/* #endregion communs*/

/* #region utily*/

.container {
    padding: 0 1rem;
}

.unstyle {
    list-style: none;
}

/* #region row&collum*/


.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

[class*="col-"] {
    padding: 1rem;
}

.col-1 {
    width: calc(100% / 12 * 1);
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-3 {
    width: calc(100% / 12 * 3);
}

.col-4 {
    width: calc(100% / 12 * 4);

}

.col-5 {
    width: calc(100% / 12 * 5);
}


.col-6 {
    width: 50%;
}

.col-7 {
    width: calc(100% / 12 * 7);

}

.col-8 {
    width: calc(100% / 12 * 8);

}

.col-9 {
    width: calc(100% / 12 * 9);

}

.col-10 {
    width: calc(100% / 12 * 10);

}

.col-11 {
    width: calc(100% / 12 * 11);

}

.col-12 {
    width: 100%;
}

/* #endregion row&collum*/


/* #endregion utily*/

/* #region header*/

header {
    background-color: var(--gb-primary-lighter);

    h1 {
        font-family: 'Nerko One', cursive;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 60px;
        color: var(--gb-primary-color);
        text-align: center;
        padding: 0.5rem;
    }
}

/* #endregion header*/

/* #region main*/

.page-title {

    padding-top: 1rem;

    h5 {
        color: var(--bg-seconday-dark);
        font-size: 20px;
        text-transform: uppercase;
    }

    h2 {
        color: var(--gb-primary-darker);
        font-size: 35px;

        span {
            display: none;
        }
    }
}

.recipe-preview {
    .recipe-description {
        ul {
            padding: 1rem 0;

            li {
                padding: 0.5rem 0;
            }
        }
    }
}

/* #endregion main*/


/* #region responsive*/

@media screen and (min-width: 768px) {

    header {

        h1 {
            text-align: left;
            padding-left: 1rem;
        }
    }

    .page-title {
        padding-top: 3rem;

        h2 {
            font-size: 40px;

            span {
                display: inline-block;
            }
        }
    }

    .container {
        width: 90%;
        margin: auto;
    }
}

@media screen and (min-width: 992px) {

    .page-title {
        h2 {
            font-size: 50px;

            span {
                display: inline-block;
            }
        }
    }

    .container {
        width: 80%;
        margin: auto;

    }
}


/* #endregion responsive*/